{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Krishi-Vikash| Login</title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Nanny Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
  />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!--booststrap-->  
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
  <!--//booststrap end-->
  <!-- font-awesome icons -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <!-- //font-awesome icons -->
  <!--stylesheets-->
  <link rel="stylesheet" href="{% static 'css/style_lo.css' %}" type='text/css' media="all">
  <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' media="all">
  <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/animate-custom.css' %}" />
  <!--//stylesheets-->
  <link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Libre+Franklin:400,500" rel="stylesheet">


</head>

<body>
  <div class="main-top" id="home">
    <!-- header -->
    <div class="headder-top">
      <div id="logo">
        <h1>
          <a href="{% url 'homepage' %}">Krishi-Vikash</a>
        </h1>
      </div>
      <!-- nav -->

      <!-- //nav -->
    </div><br>
	<br><br><br>
	<div class="container">
            <!-- Codrops top bar -->

            <section>
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form" style="background:white">
                            <form  action="{% url 'login' %}" method="POST" autocomplete="on">
                                {% csrf_token %}
                                <h1 style="background:white">Log in</h1>
                                <!--Alerts-->
                                {% include 'partials/_alerts.html' %}

                                <p>
                                    <label for="username" class="uname"> Your email or username </label>
                                    <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
                                </p>
                                <p>
                                    <label for="password" class="youpasswd"> Your password </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" /> 
                                </p>
                                <p class="keeplogin"> 
									<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
									<label for="loginkeeping">Keep me logged in</label>
								</p>
                                <p class="login button">
                                    <input type="submit" value="Login"/>
								</p>
                                <p class="change_link">
									Not a member yet ?
									<a href="{% url 'signup' %}" class="to_register" style="color:#ff8221">Register!!</a>
								</p>
                            </form>
                        </div>
                    </div>
                </div>  
            </section>
        </div>

	</div>

    <!-- //header -->
    <!-- banner -->

  <!--//banner -->

  <!-- contact -->
  
  
  
  
  


  <!-- contact -->
  <!-- copy right -->

  <!-- copy right -->
<script type="text/javascript">
$(document).ready(function(){
	  $('.tab a').on('click', function (e) {
	  e.preventDefault();
	  
	  $(this).parent().addClass('active');
	  $(this).parent().siblings().removeClass('active');

	  var href = $(this).attr('href');
	  $('.forms > form').hide();
	  $(href).fadeIn(500);
	});
});
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>
</body>

</html>