{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>kisan| SignUp</title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Nanny Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
  />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!--booststrap-->  
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
  <!--//booststrap end-->
  <!-- font-awesome icons -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <!-- //font-awesome icons -->
  <!--stylesheets-->
  <link rel="stylesheet" href="{% static 'css/style_lo.css' %}" type='text/css' media="all">
  <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' media="all">
  <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/animate-custom.css' %}" />
  <!--//stylesheets-->
  <link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Libre+Franklin:400,500" rel="stylesheet">


</head>

<body>
  <div class="main-top" id="home">
    <!-- header -->
    <div class="headder-top">
      <div id="logo">
        <h1>
          <a href="{% url 'homepage' %}">kisan</a>
        </h1>
      </div>
      <!-- nav -->

      <!-- //nav -->
    </div><br>
	<br><br><br>
	<div class="container">
            <!-- Codrops top bar -->
           
            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form" style="background:white">
                            <form  action="{% url 'signup' %}" method="POST" autocomplete="on">
                                {% csrf_token %}
                                <h1> Sign up </h1>
                                <!--Alerts-->
                                {% include 'partials/_alerts.html' %}

                                <p>
                                    <label for="usernamesignup" class="uname">Your username</label>
                                    <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="mysuperusername11" />
                                </p>
                                <p> 
                                    <label for="emailsignup" class="youmail"> Your email</label>
                                    <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="mysupermail@mail.com"/> 
                                </p>
                                <p> 
                                    <label for="passwordsignup" class="youpasswd">Your password </label>
                                    <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO"/>
                                </p>
                                <p>
                                    <label for="passwordsignup_confirm" class="youpasswd">Please confirm your password </label>
                                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
                                </p>
                                <p>
                                    <label for="fname" class="youfname">Your First name </label>
                                    <input id=fname" name="fname" required="required" type="text" placeholder="Yaswanth"/>
                                </p>
                                <p>
                                    <label for="lname" class="youlname">Your Last name </label>
                                    <input id=lname" name="lname" required="required" type="text" placeholder="Divvela"/>
                                </p>
                                <p>
                                    <label for="area" class="youarea">City </label>
                                    <input id=area" name="area" required="required" type="text" placeholder="Ranchi"/>
                                </p>
                                <p>
                                    <label for="pin" class="youpin">Pincode</label>
                                    <input id=pin" name="pin" required="required" type="number" placeholder="835215"/>
                                </p>
                                <p>
                                    <label for="acc" class="youacc">Bank Acc number </label>
                                    <input id=acc" name="acc" required="required" type="text"/>
                                </p>
                                <p>
                                    <label for="ifsc" class="youifsc">IFSC code </label>
                                    <input id=ifsc" name="ifsc" required="required" type="text"/>
                                </p>
                                <p>
                                    <label for="bname" class="youbname">Your Name as in passbook</label>
                                    <input id=bname" name="bname" required="required" type="text" placeholder="Divvela Yaswanth"/>
                                </p>
                                <p class="signin button"> 
									<input type="submit" value="Sign up"/>
								</p>
                                <p class="change_link">  
									Already a member ?
									<a href="{% url 'login' %}" class="to_register" style="color:#ff8221"> Go and log in </a>
								</p>
                            </form>
                        </div>
                    </div>
                </div>  
            </section>
        </div>
  
	</div>

    <!-- //header -->
    <!-- banner -->

  <!--//banner -->

  <!-- contact -->
  
  
  
  
  


  <!-- contact -->
  <!-- copy right -->

  <!-- copy right -->
<script type="text/javascript">
$(document).ready(function(){
	  $('.tab a').on('click', function (e) {
	  e.preventDefault();
	  
	  $(this).parent().addClass('active');
	  $(this).parent().siblings().removeClass('active');

	  var href = $(this).attr('href');
	  $('.forms > form').hide();
	  $(href).fadeIn(500);
	});
});
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>
</body>

</html>