{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>kisan| New Request</title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Nanny Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
  />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!--booststrap-->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
  <!--//booststrap end-->
  <!-- font-awesome icons -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <!-- //font-awesome icons -->
  <!--stylesheets-->
  <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' media="all">
  <!--//stylesheets-->
  <link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Libre+Franklin:400,500" rel="stylesheet">
</head>

<body>
  <div class="main-top" id="home">
    <!-- header -->
    <div class="headder-top">
      <div id="logo">
        <h1>
          <a href="{% url 'prevorders' %}">kisan</a>
        </h1>
        <p style="color: black;position: absolute;top: 20px;right: 16px;"><a style="color: black" href="javascript:{document.getElementById('logout').submit()}">Log Out</a></p>
        <form id=logout action="{% url 'logout' %}" method="POST">{% csrf_token %} <input type="hidden"> </form>
      </div>
      <!-- nav -->

      <!-- //nav -->
    </div>
    <!-- //header -->
    <!-- banner -->

  <!--//banner -->

  <!-- contact -->
  <section class="contact py-lg-4 py-md-3 py-sm-3 py-3" id="contact">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <h3 class="title text-center mb-2">New Request</h3>
      {% include 'partials/_alerts.html' %}
      <div class="title-w3ls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
      </div>
      <center>
      <div class="row">
        <div class="col-lg-12 ">
          <form action="{% url 'neworder' %}" method="post">
          {% csrf_token %}
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 form-group contact-forms">
                <input type="text" class="form-control" name="item" placeholder="Item" required="" style="width:400px" />
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 form-group contact-forms">
                <input type="number" class="form-control" name="quant" placeholder="Quantity(Kg)" required="" style="width:400px" />
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 form-group contact-forms">
                <input type="text" class="form-control" name="invoice" placeholder="Invoice No." required="" style="width:400px" />
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 form-group contact-forms">
                Upload Invoice: <input type="file" class="form-control" name="pic" required="" enctype="multipart/form-data" style="width:400px" /><br><br>
              </div>
            </div>
            <input type="hidden" name="username" value="{{user.username}}" />
            <button type="submit" class="btn sent-butnn btn-lg">Send</button>
            <button type="button" class="btn sent-butnn btn-lg"><a href="{% url 'prevorders' %}" style="color:white">Previous Requests</a></button>
          </form>
        </div>
      </div>
      </center>
    </div>
  </section>
  <!-- contact -->
  <!-- copy right -->
  <footer>
    <div class="bottom-footer text-center py-md-4 py-3">
      <p>
        copyright @GRP10

      </p>
    </div>
  </footer>
  <!-- copy right -->
</body>

</html>